# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# Project data
data/fma_metadata
data/fma_small
data/fma_traditional/features
pretrained_embeddings/outputs/

# Build / logs
*.log
*.tmp
sricpts/